@page "/fetchposts"

<h1>Consume - Rest Api</h1>

<p>This Data(Posts) Fetched from https://jsonplaceholder.typicode.com </p>
<i>https://jsonplaceholder.typicode.com/posts</i>

@if (postsData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in postsData)
            {
                <tr>
                    <td>@post.Id</td>
                    <td>@post.Title</td>
                    <td>@post.Body</td>
                </tr>
            }
        </tbody>
    </table>
}

